@media (max-width: 1024px) {
    /* html {
        font-size: 45%;
    } */
    .btn {
        width: 100%;
    }
    .main .nav {
        margin-left: -250px;
    }
    .nav .close {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: right;
        cursor: pointer;
    }
    .nav .close img {
        width: 20px;
        filter: invert(100%) sepia(0%) saturate(5824%) hue-rotate(186deg) brightness(101%) contrast(113%);
    }
    .main .section {
        padding: 100px 20px 20px 20px;
    }
    .main .projects .wrapper {
        background-color: var(--body);
    }
    .main .projects .wrapper .heading {
        display: none;
    }
    .main .project-details .wrapper .heading .title {
        font-size: 2.0rem;
    }
    .main .header {
        position: fixed;
        width: 100%;
        justify-content: right;
        background-color: var(--body);
        z-index: 1;
    }
    .main .header .menu {
        display: block;
        position: absolute;
        top: 32px;
        left: 22px;
        cursor: pointer;
    }
    .header .profile-box .content {
        display: none;
    }
    .header .profile-box {
        margin-left: 20px;
    }
    .mobile-heading-title {
        display: block;
        margin-right: 25px;
    }
    .table {
        padding: 0;
    }
    /* .table .t-filter .filter {
        display: block;
    } */
    .table .t-search {
        background-color: #fff;
    }
    .table .t-heading {
        display: none;
    }
    .table .t-body {
        flex-direction: column;
        align-items: start;
        border: 0;
        background-color: #fff;
        margin: 20px 0;
        border-radius: 8px;
        position: relative;
    }
    .table .t-body .item {
        margin: 3px 0;
    }
    .table .t-body .edit-button {
        position: absolute;
        top: 29px;
        right: 14px;
    }
    .projects .table .t-body .item:first-child {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 700;
        color: #2D405A;
        width: 290px;
    }
    .table .t-body .item .date,
    .table .t-body .item .cost {
        display: inline-block;
    }
    .table .t-pagination {
        justify-content: center;
    }
    .project-details .all-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 20px;
        margin: 0 15px;
    }
    .project-details .all-items .item {
        padding: 15px 0px;
    }
    .project-details .all-items .item .sub-title {
        font-size: 1.7rem;
    }
    .project-details .all-items .item:first-child {
        padding-left: 0px;
    }
    .project-details .all-items .item:last-child {
        grid-column: span 2;
    }
    .main .project-details .wrapper .heading {
        padding: 15px;
    }
    .project-details .main-content {
        padding: 20px 15px;
    }
    .project-details .main-content .job {
        justify-content: space-between;
    }
    .project-details .proposal .btn {
        position: inherit;
        right: 0;
        margin-bottom: 20px;
    }
    .project-details .proposal .profile-box .sub-content .star img {
        display: none;
    }
    .project-details .proposal .profile-box .sub-content .star img:first-child {
        display: block;
    }
    .project-details .proposal .title {
        color: #2D405A;
        font-size: 1.6rem;
        font-weight: 700;
    }
    .project-details .proposal .description {
        font-size: 1.4rem;
        font-weight: 400;
    }
    .project-details .proposal .profile-box .name {
        font-size: 1.4rem;
    }
    .project-details .proposal .profile-box .sub-content span {
        font-size: 1.4rem;
    }
    .project-details .proposal .profile-box .sub-content p {
        font-size: 1.4rem;
    }
    .project-details .proposal .profile-box .profile-img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    .project-details .proposal .profile-box .sub-content .chat {
        position: absolute;
        right: 20px;
    }
    .project-details .proposal .profile-box .profile-img .online-status {
        right: -9px;
        bottom: -8px;
    }
}

@media (max-width: 480px) {
    .projects .table .t-body .item:first-child {
        width: 280px;
    }
}