@media (max-width: 1024px) {
    /* html {
        font-size: 45%;
    } */
    .main .nav {
        margin-left: -250px;
    }
    .nav .close {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        float: right;
        cursor: pointer;
    }
    .nav .close img {
        width: 20px;
        filter: invert(100%) sepia(0%) saturate(5824%) hue-rotate(186deg) brightness(101%) contrast(113%);
    }
    .main .section {
        padding: 100px 20px 20px 20px;
    }
    .main .section .wrapper {
        background-color: var(--body);
    }
    .main .section .wrapper .heading {
        display: none;
    }
    .main .header {
        position: fixed;
        width: 100%;
        justify-content: right;
        background-color: var(--body);
    }
    .main .header .menu {
        display: block;
        position: absolute;
        top: 32px;
        left: 22px;
        cursor: pointer;
    }
    .header .profile-box .content {
        display: none;
    }
    .header .profile-box {
        margin-left: 20px;
    }
    .mobile-heading-title {
        display: block;
        margin-right: 25px;
    }
    .table {
        padding: 0;
    }
    .table .t-filter .filter {
        display: block;
    }
    .table .t-search {
        background-color: #fff;
    }
    .table .t-heading {
        display: none;
    }
    .table .t-body {
        flex-direction: column;
        align-items: start;
        border: 0;
        background-color: #fff;
        margin: 20px 0;
        border-radius: 8px;
    }
    .table .t-body .item {
        margin: 5px 0;
    }
    .projects .table .t-body .item:first-child {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 700;
        color: #2D405A;
    }
    .table .t-body .item .date,
    .table .t-body .item .cost {
        display: inline-block;
    }
}